<h1>Display your Pirate here</h1>
<p><%=@pirate.name%>
  <%=@pirate.weight%>
  <%=@pirate.height%>
</p>


<h2>Display your first ship here</h2>
<p><%=@ship_1.name%>
  <%=@ship_1.type%>
  <%=@ship_1.booty%>
</p>

<h2>Display your second ship here</h2>
<p><%=@ship_2.name%>
  <%=@ship_2.type%>
  <%=@ship_2.booty%>
</p>
